.heading
{
    font-size:25px;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px maroon;
}
.note
{
    font-size:18px;
    color:pink;
    box-shadow:5px 5px 5px darksalmon;
}
.copy_right_footer
{
    position:fixed;
    bottom:0;
    color:greenyellow;
    width:90%;
    background-color: grey;
    line-height:3;
    text-align:center;
    box-shadow:5px 5px 5px rgb(10, 233, 233);
}
.canvas
{
    border: 3px transparent;
    box-shadow:5px 5px 5px darkorchid;
    border-radius:20px;

}
